<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Project manager</p>
            <div class="img-thumbnail">
                <img class="img-responsive" src="<%= project.image %>">
                <div class="caption-full">
                    <h4 class="w-auto d-inline-block"><a href="/projects"><%= project.name %></a></h4>  
                    <hr>                  
                    <p><%= project.description %></p>
                    <p style="font-size: 0.75rem;">
                        <em>Submitted By <%= project.author.username %></em> 
                    </p>
                    <% if(currentUser && project.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-warning" href="/projects/<%= project._id %>/edit">UPDATE</a>
                        <form id="delete-form" action="/projects/<%= project._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">DELETE</button>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="col-md-9">                       
            <div class="card card-block bg-faded">
                <div class="text-right">
                    <a class="btn btn-success" href="/projects/<%= project._id %>/tasks/new">Add New Task</a>
                </div>
                <hr>
                 <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">Task</th>
                          <th scope="col">Priority</th>
                          <th scope="col">Duedate</th>
                          <th scope="col">Status</th>
                          <th scope="col">Percent completed</th>  
                          <th scope="col">Submitted By</th>                         
                        </tr>
                      </thead>
                    <tbody>
                <% project.tasks.forEach(function(task){ %>
                        <tr>
                        <th scope="row"> 
                            <i id="symbol" class="fas fa-angle-down"></i>    
                        <% if(currentUser && task.author.id.equals(currentUser._id)){ %>                                       
                            <span><a class="btn btn-sm btn-warning" href="/projects/<%= project._id %>/tasks/<%= task._id %>/edit"><i class="fas fa-pencil-alt"></i></a>
                            <form id="delete-form" action="/projects/<%= project._id %>/tasks/<%= task._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </form></span>                       
                        <% } %>
                        </th>
                          <td><%= task.text %></td>
                          <td><%= task.priority %></td>
                          <td><%= task.duedate %></td>
                          <td id="status"><%= task.status %></td>
                          <td id="percent"><%= task.percentCompleted %> % </td> 
                          <td><%= task.author.username %></td>                                         
                        </tr>                            
                <%  }); %>
                    </tbody>   
                </table>      
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>